*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #212121;
    --secondary-color: #fff; 
}
.dark{ 
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
body{
    background-color: var(--primary-color);
    color: #fff;
}
#header{
    background-image: url(img/16.png);
    width: 100%;
    background-size: 37%;
    height: 100vh; 
    /* background-size: contain,cover; */
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: 90% 90%;
    /* position: relative; */
    /* border-radius: 50%; */
}
#icon{
    width: 25px;
    cursor: pointer;
    margin: 0;
}
.container-1{
    padding: 20px 0%;
}
.container-2{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 8px 0px;
    z-index: 3;
    top: 0;
    background-color:var(--primary-color);
    /* background-color: transparent; */
    /* border-bottom: 1px solid var(--secondary-color); */
    box-shadow: 0 0px 5px var(--secondary-color);
    padding-right: 30px;
}
.logo{
    width: 120px;
    padding-left: 90px;
    color: var(--secondary-color);
}
nav ul li{
    display: inline-block;
    list-style:none ;
    align-items: center;
    margin: 0px 20px;
}
nav ul li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8941dc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.text{
    margin-top: 15%;
    padding-left: 10%;
    font-size: 30px;
    color: var(--secondary-color);
    
}
.text h1{
    font-size: 60px;
    margin-top: 20px;
}
.text span{
    color: #8941dc;
}

/* about */
#about{
    padding:80px 0;
    color: var(--secondary-color);
    /* color: aqua; */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-1{
    flex-basis: 40%;
}
.about-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:50px ;
    font-weight: 600;
    color: var(--secondary-color);
}
.tabs{
    display: flex;
    margin: 20px 0 0px;
}
.tab-1{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-1::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8941dc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-1.tab-2::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #8941dc;
    font-size: 14px;
}
.tab-contents ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.services-1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 100%;
}
.services-1 .desc h3 {
    line-height: 1.9;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-top: 30px;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
}
.services-1 .desc img{
    width: 500px;
    height: 350px;
    border-radius: 0 0 10px 10px;
}

.services-1 .desc h3:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: #8941dc;
    margin: 0 auto;
}
.services-1:hover {
    box-shadow: rgba(255, 254, 254, 0.35) 0px 5px 15px;   
}



/* portfolio section  */
#portfolio{
    padding: 50px 0;
    
}
.clr{
    color: #8941dc;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}

/* contect  */
.contect-left{
    flex-basis: 50%;
}

.contect-left h5{
    margin-top: 20px;
    margin-left: 40px;
    color: #8941dc;
}
.contect-left p{
    color: var(--secondary-color);
}
.contect-left p i{
    color: var(--secondary-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color:#fff;
    transition:transform 0.5s;
    color: var(--secondary-color);
}
.social-icon a:hover{
    color: #8941dc;
    transform: translateY(-5px);
}
.btn{
    /* display: block; */
    display:inline-block;
    background:#8941dc;
    margin: 30px 0px;
    border-radius: 1px;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:background 0.5s ;
}
.btn:hover{
    background: #aa6cf1;
}
.btn-2{
    background-color: #fff; 
}

.contect-right{
    flex-basis: 50%;
}
.contect-right img{
    width:100%;
}
/* form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size:15px ;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form .btn{
    padding: 6px 40px;
    font-size:18px ;
    margin-top: 20px;
    cursor: pointer;
} */
.copyright{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background:#8941dc;
    font-weight: 300;
    /* margin-top: 20px; */
}

/* media qurey responsy */
nav .fa-solid{
    display: none;
}
